.task {
  padding: 5px 10px;
  color: #9b9b9b;
  position: relative;
  cursor: pointer;
  word-break: break-word;
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 1px 2px 1px 1px rgb(155 155 155 / 20%);
}

.task:not(:last-child) {
  margin-bottom: 10px;
}

.taskContent span {
  color: #9b9b9b;
  font-size: 10px;
}

.taskContent h5 {
  color: #555454;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.25;
  -webkit-line-clamp: 3;
}

.taskTime {
  height: 14px;
  margin-bottom: 10px;
}
